In [1]:
import pandas as pd
from datetime import timedelta, datetime
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

import acquire

# Prepare Exercise

### Using Store Data
1. Convert date column to datetime format.

In [2]:
# aquire data
sales_merged = acquire.sales_merged()
sales_merged.shape

(913000, 16)

In [3]:
df = sales_merged
df.columns

Index(['item', 'sale_amount', 'sale_date', 'sale_id', 'store', 'store_address',
       'store_city', 'store_id', 'store_state', 'store_zipcode', 'item_brand',
       'item_id', 'item_name', 'item_price', 'item_upc12', 'item_upc14'],
      dtype='object')

In [ ]:
df.head()

In [ ]:
# drop duplicate columns
df = df.drop(columns=['store','item'])
df.head()

In [ ]:
# check for nulls
df.isna().sum()

In [ ]:
# confirm datetime column is datetime data type. If not then convert
df.dtypes

In [ ]:
# convert date column to dytpe datetime
df.sale_date = pd.to_datetime(df.sale_date)

In [ ]:
# confirm date time converted
df.dtypes

In [ ]:
# set sales_date as index and sort index
df = df.set_index('sale_date').sort_index()
df.head()

2. Plot the distribution of sale_amount and item_price.

In [ ]:
# group by sale_date then sum sale_amount to find sale_amount over time
df_sale_date = df.groupby(by='sale_date').sale_amount.sum()
df_sale_date.head()

In [ ]:
# plot distribution by sale amount
df_sale_date.plot()

In [ ]:
by_item_price = df.groupby('sale_date').item_price.mean()
by_item_price.head()

In [ ]:
by_item_price.plot()

3. Set the index to be the datetime variable.

In [ ]:
# Aready done

4. Add a 'month' and 'day of week' column to your dataframe.

In [ ]:
# add month columns
df['month'] = df.index.month
df.head()

In [ ]:
# add column for day of the week
df['weekday'] = df.index.weekday
df.head()

5. Add a column to your dataframe, sales_total, which is a derived from sale_amount (total items) and item_price

In [ ]:
# add columns sales_total by multiplying sale_amount and item_price
df['sales_total'] = df.sale_amount * df.item_price
df.head()

6. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results

In [5]:
df.shape

(913000, 16)

In [4]:
def prep_sales(df):
    # drop duplicate columns
    df = df.drop(columns=['store','item'])

    # convert date column to dytpe datetime
    df.sale_date = pd.to_datetime(df.sale_date)

    # set sales_date as index and sort index
    df = df.set_index('sale_date').sort_index()

    # add month columns
    df['month'] = df.index.month

    # add column for day of the week
    df['weekday'] = df.index.weekday

    # add columns sales_total by multiplying sale_amount and item_price
    df['sales_total'] = df.sale_amount * df.item_price
    
    return df

In [6]:
df = prep_sales(df)
df.shape

(913000, 16)

In [7]:
df.head()

,sale_amount,sale_id,store_address,store_city,store_id,store_state,store_zipcode,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,month,weekday,sales_total
sale_date,,,,,,,,,,,,,,,,
2013-01-01 00:00:00+00:00,13.0,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,1,1,10.92
2013-01-01 00:00:00+00:00,26.0,211817,12018 Perrin Beitel Rd,San Antonio,7,TX,78217,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211,1,1,218.40
2013-01-01 00:00:00+00:00,27.0,832657,12018 Perrin Beitel Rd,San Antonio,7,TX,78217,Mama Marys,46,Pizza Sauce,4.65,35457770664,35457770664,1,1,125.55
2013-01-01 00:00:00+00:00,54.0,213643,15000 San Pedro Ave,San Antonio,8,TX,78232,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211,1,1,453.60
2013-01-01 00:00:00+00:00,35.0,215469,735 SW Military Dr,San Antonio,9,TX,78221,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211,1,1,294.00